# keep only selected Python files
*.py
!potts.py
!poisson.py
!Ising.py
!unnormalised_potts.py
!protein_potts_mll.py
!protein_potts_cd.py
!cmp_salesdata.py
!calibration.py
!kme_test.py

# ignore system and data junk
__pycache__/
*.pyc
.DS_Store
results*/
*.pdf
*.png
*.npz
*.pkl
*.log
*.csv
*.json
*.fasta
*.sto
*.gz
cd_Result/
