absl-py==2.3.1
aiofiles==24.1.0
beautifulsoup4==4.14.2
biopython==1.79
botorch @ git+https://github.com/pytorch/botorch.git@d247a33486c22bc5c6f16107db3e71f1e3bf3acd
certifi==2025.7.14
charset-normalizer==3.4.2
chex==0.1.90
contourpy==1.3.2
cycler==0.12.1
etils==1.13.0
filelock==3.18.0
flax==0.11.2
fonttools==4.58.1
fsspec==2025.5.1
gpytorch @ git+https://github.com/cornellius-gp/gpytorch.git@b017b9c3fe4de526f7a2243ce12ce2305862c90b
html5lib==1.1
humanize==4.13.0
idna==3.10
importlib_resources==6.5.2
jax==0.6.2
jaxlib==0.6.2
jaxtyping==0.3.2
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
linear_operator @ git+https://github.com/cornellius-gp/linear_operator.git@dca438e47dd8a380d0f4e6b30c406e187062c8bd
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.1.1
multipledispatch==1.0.0
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.1
opt_einsum==3.4.0
optax==0.2.5
orbax-checkpoint==0.11.25
packaging==25.0
pandas==2.3.1
pillow==11.2.1
ProDy==2.4.1
protobuf==6.32.1
Pygments==2.19.2
pyparsing==3.2.3
pyre-extensions==0.0.32
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.1.0
scikit-learn==1.6.1
scipy==1.16.2
seaborn==0.13.2
simplejson==3.20.1
six==1.17.0
soupsieve==2.8
sympy==1.14.0
tensorstore==0.1.77
threadpoolctl==3.6.0
toolz==1.0.0
torch==2.7.0
tqdm==4.67.1
treescope==0.1.10
typing-inspect==0.9.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wadler_lindig==0.1.6
webencodings==0.5.1
zipp==3.23.0
